@using Model.Context
@using Business.BusinessViewModels
@using sonsport.com.Common
@model CustomerViewModels
<script src="~/Assets/Scripts/jquery.validate.js"></script>
<script src="~/Assets/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Assets/Scripts/jquery.unobtrusive-ajax.min.js"></script>
@{ 
    var lstDistrict = ViewData[GlobalConstans.LstDistrict] as List<DISTRICT>;
}
@using (Ajax.BeginForm("UpdateProfile", "CustomerManager", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnUpdateProfileSuccess", UpdateTargetId = "profile-form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(n => n.MaKhachHang)
    <div class="input-field col s12 m4">
        @Html.LabelFor(n => n.TenKhachHang)
        @Html.TextBoxFor(n => n.TenKhachHang,new {@autofocus=""})
        @Html.ValidationMessageFor(n => n.TenKhachHang, "", new { @class = "red-text"})
    </div>
    <div class="input-field col s12 m4">
        @Html.LabelFor(n => n.Email)
        @Html.TextBoxFor(n => n.Email,new {@autofocus=""})
        @Html.ValidationMessageFor(n => n.Email, "", new { @class = "red-text" })
    </div>
    <div class="input-field col s12 m4">
        @Html.LabelFor(n => n.Sdt)
        @Html.TextBoxFor(n => n.Sdt,new {@autofocus=""})
        @Html.ValidationMessageFor(n => n.Sdt, "", new { @class = "red-text" })
        <a href="#" style="position: absolute; top: 15px; right: 12px;">Xác thực</a>
    </div>
    <div class="row">
        <div class="input-field col s12 m4 l6 address_street">
            @Html.LabelFor(n => n.Address)
            @Html.TextBoxFor(n => n.Address,new {@autofocus=""})
            @Html.ValidationMessageFor(n => n.Address, "", new { @class = "red-text" })
        </div>
        <div class="col s6 m4 l3 address_district">
            @Html.LabelFor(n=>n.DistrictId,new { @class="active"})
            @Html.DropDownListFor(n=>n.DistrictId,new SelectList(lstDistrict,"DistrictId","DistrictName","DistrictName"),new { @class="browser-default"})
        </div>
        <div class="col s6 m4 l3 address_city">
            <label class="active" for="city">Thành phố/Tỉnh</label>
            <select name="city" id="city" required="required" class="browser-default" disabled>
                <option selected="selected" value="50">Tp Hồ Chí Minh</option>
            </select>
        </div>
    </div>
    <div class="card-action center">
        <button name="button" type="submit" class="btn">Cập nhật</button>
    </div>
}
<script src="~/Assets/Scripts/jquery-3.4.1.min.js"></script>
<script>
    function OnUpdateProfileSuccess() {
        M.toast({html: 'Cập nhật thành công!', displayLength: 3000});
    }
</script>