@using Business.BusinessViewModels
@using sonsport.com.Common
@model ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/CustomerManager/LayoutCustomerManager.cshtml";
}
<div class="col s12 m10">
    <div class="user-page-content">
        <h5 class="ticket-title">Đổi mật khẩu</h5>
        Để bảo mật tài khoản, vui lòng không chia sẻ mật khẩu cho người khác.
        <section>
            <div class="profile-update" id="change-password">
                @using (Html.BeginForm("ChangePassword", "CustomerManager", FormMethod.Post, new { @autocomplete = "off" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "red-text center" })
                    <div class="field center">
                        @Html.LabelFor(n => n.OldPassword)
                        <br />
                        @Html.PasswordFor(n => n.OldPassword, new { @style = "max-width: 300px;" })
                        <br />
                        @Html.ValidationMessageFor(n => n.OldPassword, "", new { @class = "red-text" })
                    </div>
                    <div class="field center">
                        @Html.LabelFor(n => n.NewPassword)
                        <br />
                        @Html.PasswordFor(n => n.NewPassword, new { @style = "max-width: 300px;" })
                        <br />
                        @Html.ValidationMessageFor(n => n.NewPassword, "", new { @class = "red-text" })
                    </div>
                    <div class="field center">
                        @Html.LabelFor(n => n.ConfirmPassword)
                        <br />
                        @Html.PasswordFor(n => n.ConfirmPassword, new { @style = "max-width: 300px;" })
                        <br />
                        @Html.ValidationMessageFor(n => n.ConfirmPassword, "", new { @class = "red-text" })
                    </div>
                    <div class="action_container center">
                        <input type="submit" value="Xác nhận" class="btn" />
                    </div>
                }

            </div>
        </section>
    </div>
</div>
<script src="~/Assets/Scripts/jquery-3.4.1.min.js"></script>
@if (TempData[GlobalConstans.MessageSuccess] != null)
{
    <script>
        $(function () {
            M.toast({html: '@TempData[GlobalConstans.MessageSuccess].ToString()', displayLength: 3000});
        })
    </script>
}