@using quanly.sonsport.com.Common
@using Model.Context
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lstPlace = ViewData[GlobalConstans.ViewDataLstPlaceYard] as List<DIADIEMSANBONG>;
}
<link href='~/Assets/fullcalendar-4.1.0/packages/core/main.css' rel='stylesheet' />
<link href='~/Assets/fullcalendar-4.1.0/packages/bootstrap/main.css' rel='stylesheet' />
<link href='~/Assets/fullcalendar-4.1.0/packages/daygrid/main.css' rel='stylesheet' />
<link href='~/Assets/fullcalendar-4.1.0/packages/timegrid/main.css' rel='stylesheet' />
<link href='~/Assets/fullcalendar-4.1.0/packages/list/main.css' rel='stylesheet' />
<script src='~/Assets/fullcalendar-4.1.0/packages/core/main.js'></script>
<script src='~/Assets/fullcalendar-4.1.0/packages/interaction/main.js'></script>
<script src='~/Assets/fullcalendar-4.1.0/packages/daygrid/main.js'></script>
<script src='~/Assets/fullcalendar-4.1.0/packages/timegrid/main.js'></script>
<script src='~/Assets/fullcalendar-4.1.0/packages/list/main.js'></script>
<script src='~/Assets/fullcalendar-4.1.0/packages/bootstrap/main.js'></script>

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Quản lý lịch đặt</h1>
    <h2 id="text-place-name" class="h3 mb-0 text-primary"></h2>
    <select class="custom-select w-25 bg-primary my-1 mr-sm-2 text-white" id="PlaceId" onchange="LoadOrderOfYard();">
        <option value="0">Chọn địa điểm...</option>
        @foreach (var item in lstPlace)
        {
            <option value="@item.MaDiaDiem">@item.TenDiaDiem</option> 
        }
    </select>
</div>
<div id='calendar-container'>
    <div id='calendar'></div>
</div>
@RenderPage("~/Views/Shared/_Modal.cshtml")
<script src="~/Controllers/jsController/jsOrderManager.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() { 
          LoadOrderOfYard();
        });
    function LoadOrderOfYard() {
        var PlaceId = $('#PlaceId').val();
        if (PlaceId == 0) {
            $('#calendar').empty().html('<h1>Chưa có địa điểm nào được chọn!</h1>');
            $('#text-place-name').text('');
        }
        else {
            var PlaceName = $('#PlaceId option:selected').text();
            $('#text-place-name').text(PlaceName);
            $('#calendar').empty();
            orderManager.OnCalenderLoad('@Url.Action("LoadOrderYard","OrderManager")?PlaceId='+PlaceId, '@DateTime.Now.ToString("yyyy-MM-dd")');
        }
    }
</script>
