<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Assets/Images/image/shorcut-icon.ico" />
    <title>@ViewBag.Title - Tìm kiếm, đặt sân bóng Online</title>
    <link href="~/Assets/TemplateCustomer/css/site.css" rel="stylesheet" />
    <link href="~/Assets/TemplateCustomer/css/font-awesome4.7/font-awesome.css" rel="stylesheet" />
</head>
<body>
    <!--Header-->
    @RenderPage("~/Views/Shared/_Header.cshtml")

    @RenderBody()

    <!--Footer-->
    @RenderPage("~/Views/Shared/_Footer.cshtml")

    <script src="~/Assets/TemplateCustomer/js/site-main.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
    