@using Model.Context
@using sonsport.com.Common
@model List<BANGGIALOAISAN>

@{ 
    var lstYardOfPlace = (List<SANBONG>)ViewData[GlobalConstans.LstYardOfPlace];
    var DateView = (DateTime)ViewData[GlobalConstans.DateView];
    var Place = (DIADIEMSANBONG)ViewData[GlobalConstans.Place];
}
<div class="col s12 m6 l6">
    <div class="content-header">
        <span class="content-title">
            Bảng giá
        </span>
    </div>
    <div style="min-height: 250px;">
        <span>&nbsp;</span>
        @foreach (var item in lstYardOfPlace)
        {
            <div class="col s12 m12 l12 valign-wrapper asset_category_info">
                <div class="col s2 m2 l2 valign">
                    <p class="center">@item.TenSanBong</p>
                    <p class="center">@item.LOAISANBONG.TenLoaiSan</p>
                </div>
                <div class="col s12 m10 l10 valign">
                    <table class="fee_table">
                        <tbody>
                            @if (Model.Exists(n => n.MaSanBong == item.MaSanBong))
                            {
                                foreach (var bg in Model.Where(n => n.MaSanBong == item.MaSanBong))
                                {
                                    if (bg != null)
                                    {
                                        <tr style="border:thin">
                                            <td class="center" style="border:none;">@bg.GioBatDau:00  - @bg.GioKetThuc:00 : <strong>@bg.GiaTien.ToString("N0") VNĐ/giờ</strong></td>
                                        </tr>
                                    }
                                }
                            }
                            else
                            {
                                <tr style="border:thin">
                                    <td class="center">Đang cập nhật bảng giá</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        <div>
            @if (!Place.CanDatCocKhiDatSan)
            {
                <p><i class="fa fa-check-circle blue-text text-darken-3"></i> Không cần đặt cọc.</p>
            }
            else
            {
                <p><i class="fa fa-exclamation-circle red-text text-darken-3"></i> Cần đặt cọc khi thuê sân.</p>
            }
            @if (!Place.CoPhiMuonBong)
            {
                <p><i class="fa fa-check-circle blue-text text-darken-3"></i> Bóng dùng miễn phí.</p>
            }
            else
            {
                <p><i class="fa fa-exclamation-circle red-text text-darken-3"></i> Có phí mượn bóng.</p>
            }
            @if (!Place.CoPhiNuocUongTrenSan)
            {
                <p><i class="fa fa-check-circle blue-text text-darken-3"></i> Nước uống miễn phí.</p>
            }
            else
            {
                <p><i class="fa fa-exclamation-circle red-text text-darken-3"></i> Có phí nước uống.</p>
            }
        </div>

    </div>
</div>
