@using Model.Context;
@using quanly.sonsport.com.Common;
@model List<DIADIEMSANBONG>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Địa điểm sân bóng</h1>
    <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#SonSiHoModal" onclick="ShowModalCreate()">
        <i class="fas fa-plus fa-sm text-white-50"></i>
        <span class="text text-white">Thêm địa điểm mới</span>
    </a>
</div>
<div id="alert-result"></div>
@if (Model.Count > 0)
{
    <!-- Content Row -->
    <div class="row" id="ListPlaceByMasterId">

        @foreach (var item in Model)
        {
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-bottom-primary shadow h-100 py-2">
                    @if (item.IMAGE_OF_PLACE.Where(n=>n.FileId!=null).ToList().Count>0)
                    {
                        <img src="@Url.Action("ShowImageMainPlace","Image",new { @PlaceId=item.MaDiaDiem})" style="padding: 5px;" class="card-img-top" width="100%" height="200px" alt="...">
                    }
                    else
                    {
                        <img src="~/Assets/Images/Image/default_image.png" style="padding: 5px;" class="card-img-top" width="100%" height="200px" alt="...">
                    }
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <a href="#" class="h5 mb-0 font-weight-bold text-primary-800" onclick="RedirectToTypeAndPrice(@item.MaDiaDiem)">
                                    @item.TenDiaDiem
                                </a>
                                <div class="text-xs font-weight-bold text-gray-800 text-uppercase mb-1">@GlobalMethod.CutString(item.DiaChi, 40)</div>
                                @if (item.IsActive != true)
                                {
                                    <a class="btn btn-primary btn-icon-split" onclick="ActivePlace(@item.MaDiaDiem)">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-check"></i>
                                        </span>
                                        <span class="text text-white">Kích hoạt</span>
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-secondary btn-icon-split" onclick="UnActivePlace(@item.MaDiaDiem)">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-window-close"></i>
                                        </span>
                                        <span class="text text-white">Hủy kích hoạt</span>
                                    </a>
                                }

                            </div>

                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <a data-toggle="modal" data-target="#SonSiHoModal" onclick="ShowModalEdit(@item.MaDiaDiem)" class="btn btn-success btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fas fa-edit"></i>
                            </span>
                            <span class="text text-white">Sửa</span>
                        </a>
                        <a onclick="DeleteConfirm(@item.MaDiaDiem)" class="btn btn-danger btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fas fa-trash"></i>
                            </span>
                            <span class="text text-white">Xóa</span>
                        </a>
                    </div>
                </div>
            </div>
        }


    </div>


}
else
{
    <h1 class="text-center text-warning">Bạn chưa có địa điểm sân bóng nào!</h1>
}

<div class="modal fade" id="SonSiHoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" id="ModalContent">
    </div>
</div>
<!-- /.content-wrapper -->
@section scripts{

    <script>
    $(function () {
        @if(TempData[GlobalConstans.MessageSuccess]!=null)
        {
            @Html.Raw($"ssh.ShowAlertSuccess('{TempData[GlobalConstans.MessageSuccess].ToString()}')");
        }
        @if(TempData[GlobalConstans.MessageFail]!=null)
        {
            @Html.Raw($"ssh.ShowAlertError('{TempData[GlobalConstans.MessageFail].ToString()}')");
        }
        @if(TempData[GlobalConstans.MessageFailBootBox]!=null)
        {
            @Html.Raw($"bootbox.alert('{TempData[GlobalConstans.MessageFailBootBox].ToString()}')");
        }
                @if(TempData[GlobalConstans.MessageSuccessBootBox]!=null)
        {
            @Html.Raw($"bootbox.alert('{TempData[GlobalConstans.MessageSuccessBootBox].ToString()}')");
        }
    });

    function DeleteConfirm(id) {
        bootbox.confirm('Bạn có chắc muốn xóa ko?', function (result) {
            if (result) {
                $.get('@Url.Action("Delete","PlaceYardFootball")?PlaceId=' + id, function (success) {
                    if (success) {
                        location.reload();
                    }
                });
            }
        });
            }

    async function ShowModalEdit(PlaceId) {
        let result = await $.get('@Url.Action("LoadFormEdit","PlaceYardFootball")?PlaceId=' + PlaceId);
        $('#ModalContent').empty().html(result);
    }

    async function ShowModalCreate() {
        let result = await $.get('@Url.Action("LoadFormCreate","PlaceYardFootball")');
        $('#ModalContent').empty().html(result);
    }



    function RedirectToTypeAndPrice(id) {
        var PlaceId = id;
        sessionStorage.setItem('PlaceIdSelected', PlaceId);
        location.href = '@Url.Action("Index","TypeAndPriceYard")';
    }

    function ActivePlace(PlaceId) {
        bootbox.confirm('Bạn có muốn hiển thị sân bóng này lên trang chủ không?', (r) => {
            if (r) {
                $.get('@Url.Action("ActivePlace","PlaceYardFootball")?PlaceId=' + PlaceId, (response) => {
                    if (response.success) {
                        location.reload();
                    }
                });
            }
        })

    }

    function UnActivePlace(PlaceId) {
        bootbox.confirm('Bạn có muốn bỏ hiển thị sân bóng này trên trang chủ không?', (r) => {
            if (r) {
                $.get('@Url.Action("UnActivePlace","PlaceYardFootball")?PlaceId=' + PlaceId, (response) => {
                    if (response.success) {
                        location.reload();
                    }
                });
            }
        })

    }
    </script>
}