@using Business.BusinessViewModels
@model LoginViewModel
@{
    ViewBag.Title = "Đăng nhập";
}
<script src="~/Assets/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Assets/Scripts/jquery.validate.min.js"></script>
<script src="~/Assets/Scripts/jquery.validate.unobtrusive.min.js"></script>
<main>
    <div class="container">
        <div class="row center">
            <h3 class="orange-text">Sơn Sport</h3>
            <p>Đặt sân, cáp kèo dễ dàng hơn</p>
        </div>

        <div class="row center">
            <a class="btn-flat white-text col s12 m4 offset-m4" style="background-color: #3f51b5; margin-top: 10px;" href="/users/auth/facebook">Đăng nhập với <i class="fa fa-facebook"></i></a>
            <a class="btn-flat white-text col s12 m4 offset-m4" style="background-color: #f44336; margin-top: 10px;" href="/users/auth/google_oauth2">Đăng nhập với <i class="fa fa-google"></i></a>
        </div>

        <div class="center row" style="margin-bottom: 0px;">
            <span>Hoặc</span>
        </div>


        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "red-text center" ,style="font-size: 20px;"})
            <div class="row">
                <div class="col s8 offset-s2">
                    <div class="input-field">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", required = "required", autofocus = "autofocus" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "red-text" })
                    </div>
                    <div class="input-field">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "red-text" })
                    </div>
                    <div class="intput-field">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                    <a class=" left" href="/users/password/new">Quên mật khẩu?</a>
                </div>
            </div>
            <div class="row center">

                <input type="submit" class="btn lighten-1" value="Đăng nhập" />
            </div>
        }
    </div>

</main>
