@using Business.BusinessViewModels
@model RegisterViewModel
@{
    ViewBag.Title = "Đăng ký tài khoản";
}
    <script src="~/Assets/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Assets/Scripts/jquery.validate.min.js"></script>
    <script src="~/Assets/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <main>
        <div class="container">
            <div class="row center">
                <h3 class="orange-text">Sơn Sport</h3>
                <p>Đặt sân, cáp kèo dễ dàng hơn</p>
                <h3>Đăng ký tài khoản Sơn Sport</h3>
            </div>

            <div class="row center">
                <a class="btn-flat white-text col s12 m4 offset-m4" style="background-color: #3f51b5; margin-top: 10px;" href="#">Đăng ký với <i class="fa fa-facebook"></i></a>
                <a class="btn-flat white-text col s12 m4 offset-m4" style="background-color: #f44336; margin-top: 10px;" href="#">Đăng ký với <i class="fa fa-google"></i></a>
            </div>

            <div class="center row" style="margin-bottom: 0px;">
                <span>Hoặc</span>
            </div>
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new {@role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    
                    <div class="row">
                        <div class="col s8 offset-s2">
                            <div class="input-field">
                                @Html.LabelFor(m => m.Email)
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", required = "required", autofocus = "autofocus" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field">
                                @Html.LabelFor(m => m.Password)
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "red-text" })
                            </div>
                            <div class="input-field">
                                @Html.LabelFor(m => m.ConfirmPassword)
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "red-text" })
                            </div>
                        </div>
                    </div>
                    <div class="row center">
                        @Html.ValidationSummary(true,"",new { @class="red-text"})
                        <input type="submit" class="btn lighten-1" value="Đăng ký" />
                    </div>
                }
        </div>

    </main>
