@using Model.Context;
@{
    ViewBag.Title = "Trang chủ";
    var lstDiaDiem = ViewData["lstDiaDiem"] as List<DIADIEMSANBONG>;
}

<main>
    <div id="find_available_asset">
        <div class="row find_available_asset_form_is_center">
            <div class="col s12 m6 l4 orange" style="opacity: 0.95">
                <h5 class="white-text text-center">ĐẶT SÂN ONLINE</h5>
                <div class="divider" style="margin-bottom: 15px;"></div>
                @Html.Partial("_FormSearchYardEmpty")
            </div>
            <div class="col m6 l7 hide-on-small-only">
                <h1 class="big_title">
                    ĐẶT SÂN BÓNG ONLINE <br />
                    NHANH CHÓNG VÀ DỄ DÀNG
                </h1>
            </div>
        </div>
        <img class="brightness" src="~/Assets/Images/image/banner-1.jpg" alt="Sporta đặt sân bóng đá mini online" />

    </div>
    <div class="container" id="intro">
        <div class="white z-depth-3">
            <div class="row" style="margin-bottom: 0px">
                <div class="col s12 m3">
                    <p class='text-center'>
                        <a href="#top_venues">
                            <img src="~/Assets/Images/image/icon-1.svg" />
                        </a>
                    </p>
                    <h5 class="text-center orange-text">Thông tin sân bóng</h5>
                    <p class="text-center" style="color: #78909c">Địa điểm, giá sân, giờ mở cửa,... các sân bóng trong khu vực gần nơi bạn ở</p>
                </div>
                <div class="col s12 m3">
                    <p class='text-center'><a href="/"><img src="~/Assets/Images/image/icon-2.svg" alt="Book" /></a></p>
                    <h5 class="text-center orange-text">Đặt sân online</h5>
                    <p class="text-center" style="color: #78909c">Lựa chọn sân gần vị trí của bạn nhất, đặt sân online, tiện lợi, dễ dàng</p>
                </div>
                <div class="col s12 m3">
                    <p class='text-center'><a href="/quan-ly-san-bong"><img src="~/Assets/Images/image/icon-3.svg" alt="Reg" /></a></p>
                    <h5 class="text-center orange-text">Quản lý sân online</h5>
                    <p class="text-center" style="color: #78909c">Quản lý lịch đặt đơn giản, tiếp nhận đặt sân online dễ dàng, lấp đầy sân trống</p>
                </div>
                <div class="col s12 m3">
                    <p class='text-center'><a href="/chia-se-thong-tin-san-bong"><img src="~/Assets/Images/image/icon-4.svg" alt="Pr" /></a></p>
                    <h5 class="text-center orange-text">Quảng bá sân bóng</h5>
                    <p class="text-center" style="color: #78909c">Đăng thông tin sân bóng của bạn lên website, quảng bá hình ảnh sân bóng tốt hơn.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="top_venues">
        <div class="row">
            <div class="col s12">
                <h3 class="text-center orange-text top_venues_title">ĐỊA ĐIỂM HÀNG ĐẦU</h3>
                <h6 class="text-center" style="color: #78909c">Nhanh tay đặt sân ngay hôm nay để được trải nghiệm sân bóng chất lượng cao cùng ưu đãi hấp dẫn!</h6>
            </div>
            @foreach (var item in lstDiaDiem)
            {
                <div class="col s12 m4 l3">
                    <div class="card-panel venue_item hoverable" style="height: 350px !important;">
                        <div class="venue_pic" style="height: 63%;">
                            <div style="height: 100%">
                                <div class="venue_pic_cover" style="height: 93%">
                                    <a href="/dhnonglam">
                                        <img class="responsive-img top_venues_pic" src="~/Assets/Images/Image/image-1.jpg" />
                                    </a>
                                </div>
                                <div class="venue_pic_district">
                                    <div class="district_div text-center">
                                        <a class="white-text district_title" href="/san-bong/tp-ho-chi-minh/quan-thu-duc">@item.Quan</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="venue-details">
                            <h5><a class="venue_title" href="@Url.Action("Index","PlaceYard",new { @PlaceId=@item.MaDiaDiem,@strDate= DateTime.Now.ToString("dd-MM-yyyy")})">@item.TenDiaDiem</a></h5>
                            <p class="address_text">
                                <i class="fa fa-map-marker"></i>
                                @item.DiaChi
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="center row">
            <a id="load-more-venues" class="btn btn-raised" href="@Url.Action("Index","Search")">XEM TẤT CẢ SÂN BÓNG</a>
        </div>
    </div>
    <div class="row" style="position: relative; padding: 25px 0px;">

        <img class="brightness" src="~/Assets/Images/image/banner-2.jpg" style="width: 100%; height: 400px;" />
        <div style="position: absolute; top: 45%; left: 50%; transform: translate(-50%, -50%); width: 80% !important;" class="center">
            <h2 class="coop_title">HỢP TÁC VỚI SƠN SPORT?</h2>
            <h6 class="coop_info">Bạn là chủ sân? Bạn lo lắng khi sân còn trống? Sporta hỗ trợ bạn lấp đầy lịch đặt sân với chi phí thấp nhất!</h6>
            <a class="waves-effect waves-light btn orange btn-raised" href="@Url.Action("Index","ForMasterYard")">TÌM HIỂU NGAY</a>
        </div>
    </div>

    <div class="divider"></div>
    <div class="row">
        <h4 class="text-center orange-text">ĐỐI TÁC CỦA CHÚNG TÔI</h4>
        <div class="col s12 m4 center">
            <img style="height: 80px;" src="~/Assets/Images/image/icon-aws.png" alt="Aws logo smile" />
        </div>
        <div class="col s12 m4">
            <p class="text-center"><a target="_blank" href="http://foba.vn"><img style="height: 80px;" src="~/Assets/Images/image/icon-foba.jpg" alt="Partner foba" /></a></p>
            <p class="text-center">FOBA là thương hiệu của Thanh Thịnh, là công ty số #1 về ngành cỏ nhân tạo sân bóng, cỏ nhân tạo sân vườn và phụ kiện. Được thành lập từ 2008, chúng tôi đã cung cấp và lắp đặt gần 1000 sân bóng ở 45 tỉnh/TP tại Việt Nam và Cambodia.</p>
        </div>
        <div class="col s12 m4 center">
            <img style="height: 80px;" src="~/Assets/Images/image/icon-linnode.svg" alt="Linode logo" />
        </div>
    </div>

</main>