@using admin.sonsport.com.Common
<!-- Sidebar -->
<ul class="sidebar navbar-nav">
    <li class="nav-item @Html.IsMenuActive("Index","Home")">
        <a class="nav-link" href="@Url.Action("Index","Home")">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Trang chủ</span>
        </a>
    </li>
    <li class="nav-item dropdown show">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="fas fa-fw fa-folder"></i>
            <span>Quản lý hệ thống</span>
        </a>
        <div class="dropdown-menu show" aria-labelledby="pagesDropdown">
            <h6 class="dropdown-header">Phân quyền:</h6>
            <a class="dropdown-item @Html.IsMenuActive("Index","Role")" href="@Url.Action("Index","Role")">Cấu hình phân quyền</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Tài khoản:</h6>
            <a class="dropdown-item @Html.IsMenuActive("Index","AdminAccount")" href="@Url.Action("Index","AdminAccount")">Admin</a>
            <a class="dropdown-item @Html.IsMenuActive("Index","MasterAccount")" href="@Url.Action("Index","MasterAccount")">Chủ sân</a>
            <a class="dropdown-item @Html.IsMenuActive("Index","CustomerAccount")" href="@Url.Action("Index","CustomerAccount")">Khách hàng</a>
        </div>
    </li>
    <li class="nav-item dropdown show">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="fas fa-fw fa-folder"></i>
            <span>Quản lý chủ sân</span>
        </a>
        <div class="dropdown-menu show" aria-labelledby="pagesDropdown">
            <h6 class="dropdown-header">Đang chờ duyệt</h6>
            <a class="dropdown-item @Html.IsMenuActive("MasterWaiting","MasterManager")" href="@Url.Action("MasterWaiting","MasterManager")">Danh sách</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Đang hoạt động</h6>
            <a class="dropdown-item @Html.IsMenuActive("MasterActivating","MasterManager")" href="@Url.Action("MasterActivating","MasterManager")">Danh sách</a>
        </div>
    </li>

</ul>
