@using admin.sonsport.com.Models
@model RoleViewModels
@using (Ajax.BeginForm("AddOrEdit", "Role",
            ajaxOptions: new AjaxOptions {
                HttpMethod = "POST",
                OnSuccess="OnSuccess",
                //UpdateTargetId="role-form",
                OnFailure = "OnFailure" },
            htmlAttributes: new { @id = "role-form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(n => n.Id)
    <div class="form-group">
        @Html.LabelFor(n => n.Name, htmlAttributes: new { @class = "col-form-label" })
        @Html.TextBoxFor(n => n.Name, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(n => n.Name, null, htmlAttributes: new { @class = "text-danger" })
    </div>
}
