@using quanly.sonsport.com.Common
@using Model.Context
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lstPlaceYard = (IEnumerable<DIADIEMSANBONG>)ViewData[GlobalConstans.ViewDataLstPlaceYard];
}
<label class="my-1 mr-2" for="PlaceId">Xem tất cả nhân viên hoặc chọn địa điểm để xem nhân viên</label>
<select class="custom-select bg-primary my-1 mr-sm-2 text-white" id="PlaceId" onchange="LoadEmployeeOfPlace();">
    <option value="0">Tất cả nhân viên...</option>
    @foreach (var item in lstPlaceYard)
    {
        <option value="@item.MaDiaDiem">@item.TenDiaDiem</option>
    }
</select>
<div id="alert-result"></div>
<div id="list-employee-of-place"></div>


@section scripts{
    <script>
    $(function () {

       @if(TempData[GlobalConstans.MessageSuccess]!=null)
        {
            @Html.Raw($"ssh.ShowAlertSuccess('{TempData[GlobalConstans.MessageSuccess].ToString()}');");
        }
        @if(TempData[GlobalConstans.MessageFail]!=null)
        {
            @Html.Raw($"ssh.ShowAlertError('{TempData[GlobalConstans.MessageFail].ToString()}');");
        }
        @if(TempData[GlobalConstans.MessageSuccessBootBox]!=null)
        {
            @Html.Raw($"bootbox.alert('{TempData[GlobalConstans.MessageSuccessBootBox].ToString()}');");
        }
        @if(TempData[GlobalConstans.MessageFailBootBox]!=null)
        {
            @Html.Raw($"bootbox.alert('{TempData[GlobalConstans.MessageFailBootBox].ToString()}');");
        }
        ReOnLoad();
        LoadEmployeeOfPlace();
    })

    function ReOnLoad() {
        var value = sessionStorage.getItem('PlaceIdSelected');
        if (value!=null) {
            $('#PlaceId').val(value);
            LoadEmployeeOfPlace();
            ssh.ScollToBottom(0);
            sessionStorage.removeItem('PlaceIdSelected');
        }
    }

     function LoadEmployeeOfPlace() {
         var madiadiem = $('#PlaceId').val();
         $.get('@Url.Action("LoadListEmployeeOfPlace","Employee")?PlaceId='+madiadiem, function (response) {
                $('#list-employee-of-place').empty().html(response);
                if (response.error) {
                    location.reload();
                }
            });
            };

    </script>
}
